.header {
    display: flex;
    background: #A8B9E0;
    justify-content: space-between;
    width: 390px;
    height: 64px;
}

.cjnm {
    text-decoration: none;
    color: #FEF5A2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.saero {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.playground {
    background: url("images/스크린샷\ 2025-04-07\ 222457.png");
    background-size: 100% 100%;
    width: 390px;
    height: 200px;
}

.notice_box {
    background: #A8B9E0;
    width: 358px;
    height: 40px;
    margin-left: 16px;
    border-radius: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.notice {
    color: white;
    padding-left: 30px;
    line-height: 40px;
    font-weight: bold;
}

.notice1 {
    color: #FEF5A2;
    font-size: 20px;
    padding-right: 30px;
    line-height: 35px;
    font-weight: bold;
}


.bol4 {
    background: url("images/bol4.jpg");
    width: 314px;
    height: 366px;
    background-size: 100% 100%;
    margin-left: 38px;
}

.day2 {
    background: #A8B9E0;
    width: 358px;
    height: 141px;
    margin: 30px 16px;
    border-radius: 6px;
    justify-content: center;
    align-items: flex-end; 
    padding-bottom: 10px;
}

.day2__item {
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 0;
    padding-top: 35px;
}

.hr1 {
    width: 326px;
    color: white;
}

.day2__item2 {
    text-align: center;
    color: #FEF5A2;
    font-size: 24px;
    margin: 0;
    display: flex;
    justify-content: center;
}


.footer {
    background: #A8B9E0;
    width: 390px;
    height: 199px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.image-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px; 
}

.footer-img {
    width: 30px;
    height: 30px;
    object-fit: cover;  
    border-radius: 5px; 
}


.depth {
    color: #FEF5A2;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 5px;
}



.hr2 {
    width: 300px;
    position: relative;
    top: 05px;
    color: #FEF5A2;
}

.copyright {
    text-align: center;
    position: relative;
    color: white;
    font-size: 14px;
    top: 5px;
}

